
body {
  background-color: rgb(255, 102, 0);
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}


header {
  background-color: rgb(87, 136, 241);
  width: 100%;
  text-align: center;
  padding: 20px 0;
  margin-bottom: 30px;
}

header h1 {
  color: black;
  font-size: 2rem;
  margin: 0;
}

main {
  display: flex;
  justify-content: center; 
  width: 100%;
}
